<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
    </head>
    <body>
        <h1>
            Wgraj plik
        </h1>
        <form action="/upload" enctype="multipart/form-data" method="post">
            <label>
                nazwa pilku
            </label>
            <input id="title" type="text">
                <br>
                    <label>
                        plik
                    </label>
                    <input multiple="multiple" name="upload" type="file">
                        <br>
                            <input type="submit" value="wyślij">
                            </input>
                        </br>
                    </input>
                </br>
            </input>
        </form>
    </body>
</html>
